
.sidebar {
    position: fixed;
    /*top: 51px;*/
    height: 100%;
    /*bottom: 0;*/
    /*left: 0;*/
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;  /*Scrollable contents if viewport is shorter than content.*/
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    text-align: center;
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;

    font-size: .75em;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

.old_map {
    height: 150px;
    width: 300px;
}

.old_map_@2X {
    height: 150px;
    width: 300px;
}

.purty_wood {
    height: 150px;
    width: 300px;
}

.purty_wood_@2X {
    height: 150px;
    width: 300px;
}

.tileable_wood_texture {
    height: 150px;
    width: 300px;
}

.tileable_wood_texture_@2X {
    height: 150px;
    width: 300px;
}

.prof_pic{
    height: 75px;
    width: 75px;
}

.lg_prof_pic{
    height: 190px;
    width: 175px;
}

.res_logo {
    height: 150px;
    width: 300px;
}

.dojo {
    height: 150px;
    width: 300px;
}
.content {
    /*padding: 20px 40px;*/
    margin-left: 135px;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.spacer-lg {
    margin-top: 60px;
}

.spacer-md {
    margin-top: 40px;
}

.spacer-sm {
    margin-top: 20px;
}
.center {
    width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

